Repository ucsb-cs156-s25/team01-s25-12, pull requests merged in 2025-04, with the labels that each got.

#44 Create database tables for Articles
  src/main/java/edu/ucsb/cs156/example/entities/Articles.java
  src/main/java/edu/ucsb/cs156/example/repositories/ArticlesRepository.java
  src/main/resources/db/migration/changes/Articles.json
Labels: Articles

#43 Create database table for MenuItemReviews
  src/main/java/edu/ucsb/cs156/example/entities/MenuItemReviews.java
  src/main/java/edu/ucsb/cs156/example/repositories/MenuItemReviewsRepository.java
  src/main/resources/db/migration/changes/MenuItemReviews.json
Labels: MenuItemReview

#47 Create database table for HelpRequests
  src/main/java/edu/ucsb/cs156/example/entities/HelpRequest.java
  src/main/java/edu/ucsb/cs156/example/repositories/HelpRequestRepository.java
  src/main/resources/db/migration/changes/HelpRequests.json
Labels: HelpRequest

#48 jj - created controller for diningcommonsmenuitems
  src/main/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsController.java
  src/test/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsControllerTests.java
Labels: UCSBDiningCommonsMenuItem

#55 mw - Add GET endpoint for single record in HelpRequests table
  src/main/java/edu/ucsb/cs156/example/controllers/HelpRequestController.java
  src/test/java/edu/ucsb/cs156/example/controllers/HelpRequestControllerTests.java
Labels: HelpRequest

#49 Jj ucsb dining commons menu item get endpoint
  src/main/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsController.java
  src/test/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsControllerTests.java
Labels: UCSBDiningCommonsMenuItem

#54 aw - Added GET endpoint for single record in Articles table
  src/main/java/edu/ucsb/cs156/example/controllers/ArticlesController.java
  src/test/java/edu/ucsb/cs156/example/controllers/ArticlesControllerTests.java
Labels: Articles

#52 Jj ucsb dining commons menu item put endpoint
  src/main/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsController.java
  src/test/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsControllerTests.java
Labels: UCSBDiningCommonsMenuItem

#56 aw articles controller put
  src/main/java/edu/ucsb/cs156/example/controllers/ArticlesController.java
  src/test/java/edu/ucsb/cs156/example/controllers/ArticlesControllerTests.java
Labels: Articles

#53 jj - ucsb dining commons menu item delete endpoint
  src/main/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsController.java
  src/test/java/edu/ucsb/cs156/example/controllers/UCSBDiningCommonsMenuItemsControllerTests.java
Labels: UCSBDiningCommonsMenuItem

#58 mw - Add PUT endpoint for HelpRequests table
  src/main/java/edu/ucsb/cs156/example/controllers/HelpRequestController.java
  src/test/java/edu/ucsb/cs156/example/controllers/HelpRequestControllerTests.java
Labels: HelpRequest

#57 Aw articles controller delete
  src/main/java/edu/ucsb/cs156/example/controllers/ArticlesController.java
  src/test/java/edu/ucsb/cs156/example/controllers/ArticlesControllerTests.java
Labels: Articles

#59 Create UCSBOrganizationController, add GET (index) and POST (create)
  src/main/java/edu/ucsb/cs156/example/controllers/UCSBOrganizationController.java
  src/main/java/edu/ucsb/cs156/example/entities/UCSBOrganization.java
  src/test/java/edu/ucsb/cs156/example/controllers/UCSBOrganizationControllerTests.java
Labels: UCSBOrganization

#60 Mw helprequests controller delete
  src/main/java/edu/ucsb/cs156/example/controllers/HelpRequestController.java
  src/test/java/edu/ucsb/cs156/example/controllers/HelpRequestControllerTests.java
Labels: HelpRequest
